<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lara Vue Data Binding</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style>
    .container {
      padding-top: 50px;
    }
    </style>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item" v-for="band in bands">{{ band }}</li>
        </ul>

        <input type="text" class="form-control" id="bandtext" v-model="newBand"/>
        <button v-on:click="addName" class="btn btn-primary">Add Band</button>
      </div>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>

      <script>
      var app = new Vue({
        el: '#root',
        data: {
          newBand: '',
          bands: ['The Police', 'KISS', 'Guns & Roses', 'Led Zepplin']
        },
        methods: {
          addName() {
            this.bands.push(this.newBand);
            this.newBand = '';
          }
        }

      });
      </script>
  </body>
</html>
