<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lara Vue Computed Properties</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style>
    .container {
      padding-top: 50px;
    }
    </style>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <h1 v-text="">{{ reversedMessage }}</h1>
        <hr />
        <h1 v-text=""> {{ all }}</h1>
        <ul class="list-group">
          <li class="list-group-item" v-for="task in tasks" v-text="task.description">
        </ul>
        <hr />
        <h1> {{ com }}</h1>
        <ul class="list-group">
          <li class="list-group-item" v-for="task in tasks" v-if="task.completed" v-text="task.description">
        </ul>
        <hr />
        <h1> {{ incom }}</h1>
        <ul class="list-group">
          <li class="list-group-item" v-for="task in incompletedTasks" v-text="task.description">
        </ul>
      </div>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>

      <script>
      var app = new Vue({
        el: '#root',
        data: {
          message: 'Vue JS ROCKS',
          all: 'All Tasks',
          com: 'Completed Tasks',
          incom: 'Incomplete Tasks',
          tasks: [
            {description: 'Go to church', completed: true},
            {description: 'Wash car', completed: true},
            {description: 'Finish clothes', completed: false},
            {description: 'Go to store', completed: true},
            {description: 'Clean room', completed: false},
          ]
        },
        computed: {
          reversedMessage() {
            return this.message.split('').reverse().join('');
          },
          incompletedTasks() {
            return this.tasks.filter(task => ! task.completed);
          }
        }

      });
      </script>
  </body>
</html>
