
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lara Vue Components Commincation</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" rel="stylesheet" />
    <style>
    .container {
      padding-top: 50px;
    }
    </style>
  </head>
  <body>
      <div id="root" class="container">
        <coupon v-on:applied="onCouponApplied"></coupon>

        <h1 v-if="couponApplied">You used your coupon</h1>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
      <script src="components/communication.js"></script>
  </body>
</html>
