<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lara Vue Data Binding</title>
  </head>
  <body>
    <div id="root">
      <input type="text" id="input" v-model="message">
      <p>The message is {{ message }}</p>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>

      <script>
      let data = {
        message: 'HEY NOW'
      };
      new Vue({
        el: '#root',
        data: data
      });
      </script>
  </body>
</html>
