<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lara Vue Components 101</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" rel="stylesheet" />
    <style>
    .container {
      padding-top: 50px;
    }
    </style>
  </head>
  <body>
    <div id="root" class="container">
      <progress-view inline-template>
        <div>
        <h1>Progress Through This Course is {{ completionRate }}%</h1>
        <p><button @click="completionRate += 10">Update Completion Rate</button></p>
      </div>
      </progress-view>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
      <script src="components/progressview.js"></script>
  </body>
</html>
