<template>
  <div id="app">
    <message>Vue JS Rocks</message>
    <message>Vue JS is KING</message>

  </div>
</template>

<script>
import Message from './components/Message.vue'

export default {
  name: 'app',
  components: {
    Message
  },
  data() {
    return {

    }
  }

}
</script>

<style>
.box {
  background: #e3e3e3;
  padding: 10px;
  border: 1px solid #c5c5c5;
  margin-bottom: 10px;
}
</style>
